*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: #f9fafb;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
*****************
*****************
*****************
end of reset
*****************
*****************
*****************
*/

.container {
  display: grid;
  grid-template-columns: 30vh 4fr;
  grid-template-rows: 25vh 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar dashboard";
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.header {
  grid-area: header;
  background-color: red;
  border: 2px solid black;
}

.header-top {
  display: flex;
  margin: 5px;
  background-color: purple;
}

.header-top > * {
  background-color: gray;
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.profile-group {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.profile-group > * {
  background-color: gray;
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
}

.header-bottom {
  display: flex;
  flex-direction: row;
  margin: 5px;
  background-color: darkcyan;
}

/* .header-bottom > * {
  background-color: gray;
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
} */

.user-hello {
  display: flex;
  flex-direction: row;
  margin: 5px;
  background-color: lightgray;
  border: 2px solid black;
  padding: 5px;
  flex-grow: 1;
}
.user-hello-text {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.user-actions-group {
  display: flex;
  flex-direction: row;
  margin: 5px;
  background-color: lightgray;
  border: 2px solid black;
  padding: 5px;
}

.user-actions {
  margin: 0px 15px;
  padding: 0px 15px;
  background-color: #1992d4;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 30%;
  justify-content: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: #1992d4;
  border: 2px solid black;
  height: 100vh;
  display: flex-box;
  flex-direction: column;
}

.sidebar > * {
  margin: 10px;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

#sidebar-title {
  background-color: aqua;
}

/* .sidebar-element-single {
  background-color: lightgreen;
  display: flex;
  flex-direction: row;
} */
.sidebar-row > * {
  margin: 2px;
  border: 2px solid black;
  padding: 2px;
}

/* .dashboard {
  grid-area: dashboard;
  background-color: green;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "smallcard1 smallcard2 tallcard1"
    "smallcard3 smallcard4"
    "smallcard5 smallcard6 tallcard2";
} */

.dashboard {
  grid-area: dashboard;
  background-color: green;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
}

.dashboard-project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: purple;
  margin: 10px;
  padding: 10px;
}

.dashboard-right-container {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  margin: 10px;
  padding: 10px;
}

.dashboard-card {
  border: 2px solid black;
  background-color: white;
  margin: 10px;
  padding: 10px;
  flex-grow: 1;
}

.project-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.announcement {
  background-color: lightyellow;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.trending-user {
  background-color: lightgreen;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.trending-user-details {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}
